.academia{
    background-image: url('../img/bannerimg/academiaschoolsimulator.png')
}

.adarna{
    background-image: url('../img/bannerimg/adarnaalamatnimariablanca.png')
}

.bookpisces{
    background-image: url('../img/bannerimg/book1songofpisces.png')
}

.brushstrokes{
    background-image: url('../img/bannerimg/')
}

.dragonsnack{
    background-image: url('../img/bannerimg/dragonsnack.png')
}

.dreamdefense{
    background-image: url('../img/bannerimg/dreamdefense.png')
}

.dungeonsouls{
    background-image: url('../img/bannerimg/dungeonsouls.png')
}

.endlessera{
    background-image: url('../img/bannerimg/endlessera.png')
}

.holyship{
    background-image: url('../img/bannerimg/holyship.png')
}

.killtheplumber{
    background-image: url('../img/bannerimg/killtheplumber.png')
}

.mathoria{
    background-image: url('../img/bannerimg/mathoriathelastsolution.png')
}

.overtakeking{
    background-image: url('../img/bannerimg/overtakeking.png')
}

.politicalanimals{
    background-image: url('../img/bannerimg/politialanimals.png')
}
.pretentiousgame{
    background-image: url('../img/bannerimg/pretentiousgame.png')
}

.reverie{
    background-image: url('../img/bannerimg/reverie.png')
}

.runrunsuperv{
    background-image: url('../img/bannerimg/runrunsuperv.png')
}

.sodes{
    background-image: url('../img/bannerimg/sodes.png')
}
.theletter{
    background-image: url('../img/bannerimg/theletter.png')
}

.towerfortress{
    background-image: url('../img/bannerimg/towerfortress.png')
}

.warriordefense{
    background-image: url('../img/bannerimg/warriordefense.png')
}

.zodiacpop{
    background-image: url('../img/bannerimg/zodiacpop.png')
}
