/* Games Headers */

.academia{
    background-image: url('../img/bannerimg/academiaschoolsimulator.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.adarna{
    background-image: url('../img/bannerimg/adarnaalamatnimariablanca.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.bookpisces{
    background-image: url('../img/bannerimg/book1songofpisces.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.brushstrokes{
    background-image: url('../img/bannerimg/brushstrokes.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -125px;
}

.dragonsnack{
    background-image: url('../img/bannerimg/dragonsnack.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.dreamdefense{
    background-image: url('../img/bannerimg/dreamdefense.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.dungeonsouls{
    background-image: url('../img/bannerimg/dungeonsouls.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.endlessera{
    background-image: url('../img/bannerimg/endlessera.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.holyship{
    background-image: url('../img/bannerimg/holyship.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.killtheplumber{
    background-image: url('../img/bannerimg/killtheplumber.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.mathoria{
    background-image: url('../img/bannerimg/mathoriathelastsolution.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.overtakeking{
    background-image: url('../img/bannerimg/overtakeking.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.politicalanimals{
    background-image: url('../img/bannerimg/politialanimals.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.pretentiousgame{
    background-image: url('../img/bannerimg/pretentiousgame.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.reverie{
    background-image: url('../img/bannerimg/reverie.png');background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;

}

.runrunsuperv{
    background-image: url('../img/bannerimg/runrunsuperv.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.sodes{
    background-image: url('../img/bannerimg/sodes.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.theletter{
    background-image: url('../img/bannerimg/theletter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.towerfortress{
    background-image: url('../img/bannerimg/towerfortress.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.warriordefense{
    background-image: url('../img/bannerimg/warriordefense.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.zodiacpop{
    background-image: url('../img/bannerimg/zodiacpop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

/* Game Dev Headers */

.coffeebrain{
    background-image: url('../img/devheaderphotos/pageheader-coffeebraingames.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.altitudegames{
    background-image: url('../img/devheaderphotos/pageheader-altitudegames.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.laminastudios{
    background-image: url('../img/devheaderphotos/pageheader-laminastudios.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.keybolgames{
    background-image: url('../img/devheaderphotos/pageheader-keybolgames.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}
.chroniclegames{
    background-image: url('../img/devheaderphotos/pageheader-chroniclegames.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.senshilabs{
    background-image: url('../img/devheaderphotos/pageheader-senshilabs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.squeakywheel{
    background-image: url('../img/devheaderphotos/pageheader-squeakywheel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.yangyangmobile{
    background-image: url('../img/devheaderphotos/pageheader-yangyangmobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
}
